# JWT Configuration
JWT_SECRET=TamabeeHRSecretKeyForJWTTokenGenerationMustBeLongEnough
JWT_ACCESS_TOKEN_EXPIRATION=86400000
JWT_REFRESH_TOKEN_EXPIRATION=2592000000

# JWT_ACCESS_TOKEN_EXPIRATION: 1 day in milliseconds (24 * 60 * 60 * 1000 = 86,400,000)
# JWT_REFRESH_TOKEN_EXPIRATION: 30 days in milliseconds (30 * 24 * 60 * 60 * 1000 = 2,592,000,000)
