spring:
  application:
    name: api-hr
  
  datasource:
    url: jdbc:postgresql://tamabee.vn:5432/stg_hr_tamabee
    username: quanghiep
    password: avatar
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
  
  mail:
    host: mail.tamabee.vn
    port: 465
    username: info@tamabee.vn
    password: matkhaumoi123
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
        debug: true

server:
  port: 8081
  servlet:
    context-path: /api

logging:
  level:
    root: INFO
    com.tamabee: DEBUG

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
